body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: papayawhip;
    overflow-x: hidden;
  }
  
  header {
    background: rgba(0, 51, 102, 0.9);
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
   
  }
  
  header h1 {
    margin: 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #00bfff;
  }

  nav ul li a:active{
    color: #ff4500;

  }
  
  section {
    padding: 100px 20px;
    text-align: center;
    min-height: 100vh;
    margin-top: 200px;
    padding-top:60px ; /* To avoid overlap with fixed header */          
  }
  
  #about {
    background-color: rgba(255, 255, 255, 0.8);
    
    
    padding: 60px;
   
  }
  
  #projects {
    background-color: rgba(0, 102, 204, 0.8);
    color: white;
  }
  
  .project {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    width: 80%;
  }
  
  #contact {
    background-color: rgba(0, 153, 153, 0.8);
    color: white;
  }
  
  footer {
    background-color: rgba(0, 51, 102, 0.9);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
  }
  
  

  