body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(221, 174, 87),rgb(217, 74, 217));
}

.text{
    font-size: 35px;
    
}

.input{
    font-size: 40px;
}

.hello{
    fill-rule: 50px;
}

button{
    padding: 0.3rem;
    border-radius: 40px;
    font-size: 20px;
}

.total{
    font-size: 25px;
}

li{
    font-size: 32px;
}