body {
    border: 2px solid gray;
    margin-left:20%;
    margin-right:20%;
    margin-top:0;
    margin-bottom: 0;
    border-top: 0px;    
    border-bottom: 0px; 
    padding: 1rem;
  }

  ul{
    list-style-type: none;
  }
  h1 {
    color: #000;
  }
  a {
    color: #007bff;
    
  }
  hr {
    margin: 20px 0;
  }
  img {
    width: 300px;
    height: auto;
  }