body{
    font-family: Arial, Helvetica, sans-serif;
}
nav.container {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
nav.container ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}
nav.container ul li {
    margin: 0;
    margin-right: 8rem;
}
nav.container ul li a {
    color: #fff;
    text-decoration: none;
}
nav.container ul li a:hover {
    text-decoration: underline;

}
nav.container ul li a.active {
    font-weight: bold;
    color: #ff0;
}